html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  border-top: 10px solid rgba(1, 1, 1, 1);
}

* {
  box-sizing: border-box;
}
